* {
  box-sizing: border-box;
}

.desktop1 {
  display: flex;
  align-items: flex-start;
  width: 1440px;
  height: 1024px;
  overflow: hidden;

  .image1 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    margin: -117px -338px 0px;
    padding: 192px 189px 319px;
    width: 2116px;
    min-width: 2116px;
    background-image: url(../image/mjx0bkw6-04mwtl3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .rectangle2 {
      margin-top: 128px;
      background: #d9d9d9;
      width: 568px;
      height: 568px;
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .union {
        width: 127px;
        height: 38px;
      }

      .a0XdakArtStudio {
        margin: 7px 0px 0px;
        line-height: 19px;
        letter-spacing: 0;
        color: #000000;
        font-family: Urbanist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 800;
      }

      .rectangle1 {
        margin-top: 64px;
        background: #d9d9d9;
        width: 568px;
        height: 568px;
      }
    }
  }
}
